
.menu
  display: flex
  width: 100%
  //box-shadow: 0 10px 40px -10px rgba(0, 0, 0,.50)
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.16)
  background-color: #f9f9f9

.list
  display: flex
  flex: 2
  padding: .5em
  background-color: #f9f9f9
  list-style-type: none
  margin: 0  
  li
    margin-top: 0%
    
    a
      text-decoration: none
      display: block
      padding: .5em 1em
  li + li
    margin-right: 1.5em
    
.logo
  font-size: 1em
  padding: 2em
  margin-right: auto
  flex: 1

.item
  flex: 1
  padding: .5em 1em
  font-size: 1.375em
  justify-content: center
  align-items: center
  font-family: 'Montserrat', sans-serif
  font-weight: medium

.active
  border-bottom: 3px solid orangered
  border-bottom-color: blue