.container
  text-align: center

.items
  position: relative
  min-height: calc(90vh - 6.375em)
  top: 10%

.title
  padding: 2em

.description
  margin-bottom: 2em
  text-align: left

.image
  margin: 0
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16)
  img
    width: 100%