@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('subset-Montserrat-Medium.woff2') format('woff2'),
    url('subset-Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('subset-Montserrat-ExtraBold.woff2') format('woff2'),
    url('subset-Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
