.container 
  display: flex
  align-items: stretch 
  justify-content: space-between
  

.work1
  margin-top: 0
  flex: 0 1 40%
  figure
    width: 90%
  
.work2
  margin-top: 0
  flex: 0 1 40%
  margin-left: 1em
  

figure
  margin-top: 0

.description
  width: 90%
  color: #707070
  font-size: 18px
  line-height: 1.5
  margin: auto


@media (max-width: 800px)
  .container
    display: block  
