.container
  display: flex
  justify-content: space-between
  align-items: stretch
  align-content: center
  min-height: calc(100vh - 5.375em)
  background-image: './trazado.svg'

.name
  flex: 0 1 35%
  width: 100%
  
  align-self: center

.work
  flex: 0 1 55%
  margin-left: 1em
  align-self: center
  width: 100%
