.list 
  position: fixed
  top: calc(50vh - 5.375em)
  right: 10%
  margin: 0
  padding: 0
  list-style-type: none
  .item
    padding: 1em
    .active  
      color: #4e4e4e
 
    
    a
      text-decoration: none
      color: #b7b7b7
      padding: .5em
      display: inline-block
      &:link
        color: #b7b7b7
      &:hover
        color: #4e4e4e

    
    
@media (max-width: 768px)
  .list
    display: none
        